@import "src/style/base/variables";

@import "src/style/app";

.smartDevice {
    width:100%;
    height:100%;
    overflow: hidden;
}
.leftDiv{
    width: 20%;
    height:100%;
    float: left;
    overflow: auto;
}
.rightDiv {
    width:80%;
    height: 100%;
    float: left;
    overflow: auto;
}

.el-menu {
    font-size: 18px;
    height: 100%;
}

.picInfo {
    .img1{
        width:100%;
        height:800px;
    }
    .img2{
        width: 100%;
        height:500px;
    }
}

.picInfo:hover {
    cursor: pointer;
}

.ewm {
    width:100%;
    height:10%;
    margin-top:20px;

    img {
        width:50%;
        height:300px;
    }
}